<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/create-cat">create new cat</a>
    </nav>
    {{{body}}}
  </body>
</html>
