<footer>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
		eligendi minima sunt illum quos, quam dolorem enim assumenda, asperiores
		impedit aliquam? Necessitatibus ad est architecto repellat dolorem voluptate
		impedit, vitae laborum enim quas neque aliquam ut. Similique aspernatur sit
		numquam!</p>
</footer>