<nav id="nav-main">
  <a href="/" class="link">home</a>
  <a href="/about-us" class="link">about</a>
  <a href="/community/all-members" class="link">community</a>
  <a href="/community/last-member" class="link">last member</a>
  <a href="/contact-us" class="link">contact</a>
</nav>