<h1 id="title-main">{{title}}</h1>

<p class="text">Welcome to {{title}}</p>

<input type="text" id="search-bar" />
<button>search</button>
<hr />

<button id="btn-sort">sort</button>

<hr />

<div class="buttons">
  <button data-action="sleep">action 1</button>
  <button data-action="eat">action 2</button>
  <button data-action="dance">action 3</button>
</div>

<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
  ratione.</p>