<h1>Sign in</h1>

<form action="/signin" method="post">
	<div>
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" required value="titi" />
	</div>

	<div>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" value="1234" />
	</div>

	<button>Sign in !</button>

</form>