<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		{{#each css}}
			<link rel="stylesheet" href="/css/{{this}}" />
		{{/each}}

		<title>My app</title>
	</head>
	<body>


		{{> nav}}
		<!--  When you render a view eg: res.render("home.hbs") 
      the content of that hbs file will be inserted inside
      {{{body}}} -->
		<div class="main">
			{{{body}}}
		</div>

		{{> footer}}

	</body>
</html>